
<div class="pure-g center">
    <div class="pure-u-1-3">
        <button (click)="volver()">Volver</button>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-g pure-u-1">
            Id
        </div>
        <div class="pure-g pure-u-1">
            <input type="number" readonly>
        </div>
        <div class="pure-g pure-u-1">
            Nombre
        </div>
        <div class="pure-g pure-u-1">
            <input type="text" readonly>
        </div>
        <div class="pure-g pure-u-1">
            Descripcion
        </div>
        <div class="pure-g pure-u-1">
            <textarea cols="30" rows="10" readonly></textarea>
        </div>
        <div class="pure-g pure-u-1">
            Version
        </div>
        <div class="pure-g pure-u-1">
            <input type="text" readonly>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-3">
                <button>Eliminar</button>
            </div>
            <div class="pure-u-1-3">
                <button>Cancelar</button>
            </div>
            
        </div>
    </div>
    <div class="pure-u-1-3"></div>
</div>


