<div class="pure-g">
    
    <div class="pure-u-1-2">
        <div class="pure-g">
            <div class="pure-u-1-2">
                Backlog Actual
            </div>
            <div class="pure-u-1-2">
                <button>Agregar tarea</button>
                
            </div>
            
        </div>
        <ul>
            <li>
                <div class="pure-g">
                    <div class="pure-u-1">Tarea 1</div>
                </div>
            </li>
            <li>
                <div class="pure-g">
                    <div class="pure-u-1">Tarea 2</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="pure-u-1-2">
        <div class="pure-u-1-2">
            Backlog Actual
        </div>
        <div class="pure-u-1-2">
            <button>Agregar tarea</button>
            
        </div>
        <ul>
            <li>
                <div class="pure-g">
                    <div class="pure-u-1">Tarea 5</div>
                </div>
            </li>
            <li>
                <div class="pure-g">
                    <div class="pure-u-1">Tarea 3</div>
                </div>
            </li>
        </ul>
    </div>

</div>
