<div class="pure-g">
    <div class="pure-g pure-u-1">
        <button (click)="volver()">Volver</button>
        <button (click)="guardar()">Guardar</button>
    </div>
    <div class="pure-g pure-u-1">
        <br>
        <div class="pure-u-1-2">
            <label for="">Id</label>
            <input type="text">
        </div>
        <div class="pure-u-1-2">
            <label for="cboTipoTarea">Tipo Tarea</label>
            <select name="" id="">
                <option>Actividad</option>
            </select>
        </div>
    </div>
    
    <div class="pure-g pure-u-1">
        <br>
        <div class="pure-u-1-2">
            <label for="">Nombre</label>
            <input type="text" name="" id="">
        </div>
        <div class="pure-u-1-2">
            <label for="taDescripcion">Descripcion</label>
            <textarea id="taDescripcion" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="pure-g pure-u-1">
        <br>
        <div class="pure-u-1-2">
            <label for="">Gravedad</label>
            <input type="text">
        </div>
        <div class="pure-u-1-2">
            <label for="">Prioridad</label>
            <input type="text">
        </div>

    </div>
    <div class="pure-g pure-u-1">
        <br>
        <div class="pure-u-1-2">
            <label for="">Esfuerzo estimado</label>
            <input type="text">
        </div>
        <div class="pure-u-1-2">
            <label for="">Estado</label>

            <select id="" [(ngModel)]="idEstado" (change)="actualizarInput()" size="3">
                <option [value]="estado.id" *ngFor="let estado of estados">{{estado.nombre}}</option>

            </select>
        </div>
    </div>
    <div class="pure-g pure-u-1">
        <hr/>
    </div>
    <div class="pure-g pure-u-1">
        <div class="pure-u-1-4">
            <label for="">Id: </label>
            <input type="text" [(ngModel)]="cod_use_case">
        </div>
        <div class="pure-u-1-4">
            <button (click)="buscarUC()">...</button>
            <input type="text" [(ngModel)]="nombre_use_case">
        </div>
        <div class="pure-u-1-4">
            <button>Buscar caso de uso</button>
        </div>
    </div>
    <div class="pure-g pure-u-1">
        <h2>Bug Recipe</h2>
    </div>
    <div class="pure-g pure-u-1">
        <h2>Pre condiciones</h2>
    </div>
    <div class="pure-g pure-u-1">
        <h2>Criterios de aceptacion</h2>
    </div>
    
</div>
