<div class="pure-g pure-u-1">
    <div class="pure-g pure-u-1">
        <br>
        <button (click)="volver()">Volver</button>

    </div>
    
    <div class="pure-g pure-u-1">
        <br>
        <button (click)="editarProyecto()">Editar proyecto</button>

    </div>
    
    <div class="pure-g pure-u-1">
        <br>
        <button (click)="editarEstados()">Editar estados</button>
    </div>
    
    
    <div class="pure-g pure-u-1">
        <br>
        <button (click)="editarTipoActividades()">Editar tipo actividades</button> 
        
    </div>

    
    <div class="pure-g pure-u-1">
        <br>
        <button (click)="eliminarProyecto()">Eliminar proyecto</button>
        
    </div>

</div>
