
<!-- depende del tipo de proyecto, por que cada proyecto tiene sus estados -->
<div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-23-24">
        <div class="pure-g pure-u-1">
            Agregar estado
        </div>
        <div class="pure-g">
            <div class="pure-u-1-4">
                To do
            </div>
            <div class="pure-u-1-4">
                Doing
            </div>
            <div class="pure-u-1-4">
                Done
            </div>
            <div class="pure-u-1-4">
                Aprobe
            </div>
        </div>
    </div>
</div>
